.login-body {
  width: 500px;
  height: 600px;
  background-color: #141414;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  gap: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.login-body img {
  width: 350px;
  padding-bottom: 30px;
}

input,
button {
  width: 350px;
  padding: 15px;
  border-radius: 10px;
  font-size: larger;
  outline: 0;
  border: 0;
}

button {
  margin: 15px 0;
  color: #fff;
  background-color: #71be58;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

button:active {
  background-color: #569242;
}

.forgot-pass a {
  color: #999898;
  font-weight: 500;
}
